<div class="row">
  <div class="small-12 columns <%= model.error_class(:name) %>">
    <label>Name:
      <input type="text" name="team[name]" value="<%= model.name %>">
    </label>
    <% model.errors_for(:name) do |message| %>
      <small class="error"><%= message %></small>
    <% end %>
  </div>
</div>
