<h2>Team</h2>

<p>
  ID: <%= model.id %>
</p>

<p>
  Name: <%= model.name %>
</p>

<p>
  <a href="<%= router.path(:edit_teams, model.id) %>">Edit</a>
  <form action="<%= router.path(:teams, model.id) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="button tiny">Delete</button>
  </form>
</div>
