<h2>Rooms</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% rooms.each do |room| %>
    <tr>
      <td><%= room.id %></td>
      <td><%= room.name %></td>
      <td><%= room.description %></td>
    </tr>
  <% end %>
</table>

<p>
  <a href="<%= Router.path(:rooms, :new) %>">New room</a>
</p>
