<h2>New Room</h2>

<form action="<%= router.path(:rooms) %>" method="POST">
  <%= render partial: 'rooms/form' %>
  <div class="row">
    <div class="small-12 columns">
      <a href="<%= router.path(:rooms) %>">Cancel</a>
      <button type="submit">Create new room</button>
    </div>
  </div>
</form>
