<h2>New Room</h2>

<form action="<%= router.path(:rooms) %>" method="POST">
  <div>
    <label>Name:</label>
    <input name="room[name]" value="<%= form.name %>">
  </div>
  <div>
    <label>Description:</label>
    <textarea name="room[description]"><%= form.description %></textarea>
  </div>
  <div>
    <button type="submit">Create new room</button>
  </div>
</form>

<p>
  <a href="<%= router.path(:rooms) %>">Cancel</a>
</p>
