<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room Reservation System</title>

  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="/javascripts/modernizr.js"></script>
</head>

<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Room Reservation</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/teams">Teams</a></li>
      </ul>

      <ul class="right">
        <% if current_user.email.blank? %>
          <li>
            <a class="button" href="<%= router.path(:new_account) %>">Register</a>
          </li>
        <% else %>
          <li>
            <a href="#">
              <%= current_user.email %>
            </a>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>

  <div class="row">
    <div class="small-12 columns">
      <% flash.given :notice  do |notice| %>
      <div data-alert class="alert-box success">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
  <script src="/javascripts/application.js"></script>
</body>
</html>
